In [64]:
def greet():
    print("Helo, Naeem")

greet()

Helo, Naeem

In [65]:
def greet(name):
    print(f'Hello, {name}')
greet('naeem')

Hello, naeem

In [66]:
def greet(name):
    print(f'Hello {name}')
name = input("Please enter your name")

greet(name)

Please enter your name naeem

Hello naeem

In [67]:
def greet(name, age, nationality):
    return name, age,nationality

greet('naeem', 20, 'pakistani')
print(age)

NameError: name 'age' is not defined

In [ ]:
def fwd(x,y,z):
    print(x,y)
def greet(name, age, nationality):
    fwd(name,age,nationality)

greet('naeem', 20, 'pakistani')

print('hello')

def fwd(x,y,z):
    print(x,y)

In [ ]:
def greet(name, *arg):
    print(type(arg), type(name))
    print(arg)
greet('naeem','ayub','samih', 'nargis')

In [ ]:
def greet(**kwargs):
    print(kwargs)
    print(type(kwargs))
    return kwargs
greet(name='naeem', age = 20, citizenship = 'pakistan')

In [ ]:
def greet(name='naeem',age,citizenship):
    print(name,age,citizenship)
greet(age= 40,name='naeem',c='pakistan')

In [ ]:
def greet(name,age,citizenship='pakistan'):
    print(name,age,citizenship)
greet(age= 40,name='naeem')

In [ ]:
def greet(name,age,citizenship):
    print(name,age,citizenship)
greet(age= 40,name='naeem','pakistan')

In [ ]:
def greet(citizenship,name,age):
    print(name,age,citizenship)
    print(type(name),type(age), type(citizenship))
greet('pakistan',age= 40,name='naeem')

In [ ]:
def greet(citizenship,name,age):
    print(name,age,citizenship)
greet('pakistan',age= 40,name='naeem')

In [ ]:
sum((4,5,6),2)

In [70]:
q = int(input("enter a number"))
t = [q*i for i in range(0,21)]
t

enter a number 5

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [80]:
z = lambda a: a*5

In [84]:
print(z(a=5))

25