In [1]:
my_tuple = (1,2,3,4,5)

In [2]:
print(my_tuple)

(1, 2, 3, 4, 5)

In [4]:
print(my_tuple[2])

3

In [5]:
for i in my_tuple:
    print(i)

1
2
3
4
5

In [6]:
my_tuple[3] = 10

TypeError: 'tuple' object does not support item assignment

In [18]:
x,y,z, *p = my_tuple

In [19]:
print(x,y,z,p)

1 2 3 [4, 5]

In [20]:
print(p[1])

5

In [21]:
print(p)
print(type(p))

[4, 5]
<class 'list'>

In [22]:
p = tuple(p)
print(p)
print(type(p))

(4, 5)
<class 'tuple'>

In [29]:
details = ("name", "age", "city", "country", "st")
name,_,_,_,_= details
print(_)

st

In [42]:
#Dictionary

my_dict  = {
            "name" : "Naeem",
            "age"  : 40,
            "city" : "chakwal",
            "country": "Canada"
        }
print(my_dict)

{'name': 'Naeem', 'age': 40, 'city': 'chakwal', 'country': 'Canada'}

In [44]:
print(my_dict["country"])

Canada

In [50]:
for i in my_dict:
    print(i, " : " ,my_dict[i])

name  :  Naeem
age  :  40
city  :  chakwal
country  :  Canada

In [51]:
my_dict["Name"] = "NAeem Ayub"

In [52]:
my_dict

{'name': 'Naeem',
 'age': 40,
 'city': 'chakwal',
 'country': 'Canada',
 'Name': 'NAeem Ayub'}

In [53]:
my_dict.popitem()

('Name', 'NAeem Ayub')

In [54]:
print(my_dict)

{'name': 'Naeem', 'age': 40, 'city': 'chakwal', 'country': 'Canada'}

In [55]:
my_dict["name"] = "Naeem Ayub"
print(my_dict)

{'name': 'Naeem Ayub', 'age': 40, 'city': 'chakwal', 'country': 'Canada'}

In [64]:
my_dict2 = {}
my_dict2.update(my_dict)

In [65]:
my_dict2

{'name': 'Naeem Ayub', 'age': 40, 'city': 'chakwal', 'country': 'Canada'}

In [68]:
my_dict.get("name")

'Naeem Ayub'

In [70]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city', 'country'])

In [71]:
print(my_dict.values())

dict_values(['Naeem Ayub', 40, 'chakwal', 'Canada'])

In [79]:
c = my_dict.items()

dict_items([('name', 'Naeem Ayub'), ('age', 40), ('city', 'chakwal'), ('country', 'Canada')])

#### Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1
to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.