In [169]:
class Insan:
    def __init__(self, name,color,height, status='alive', profession='nil'):
        self.name = name
        self.color = color
        self.height = height
        self.__status = status
        self.profession = profession
    def kill_insan(self):
        self.__status = "died"
    def display_insan(self):
        return print(self.name, self.color,self.height, self.profession,":" ,self.__status)
        
class Create_professional_insan(Insan):
    def __init__(self, name, color, height, profession):
        super().__init__(name,color,height)
        self.profession = profession
        return print(f"{profession} {name} has been created")

In [170]:
abdullah = Create_professional_insan("abdullah", 'brown', '20cm', "Doctor")

Doctor abdullah has been created

In [171]:
abdullah.display_insan()

abdullah brown 20cm Doctor : alive

In [172]:
noor = Create_professional_insan("noor",'brown','40cm','engineer')

engineer noor has been created

In [173]:
noor.display_insan()

noor brown 40cm engineer : alive

In [174]:
noor.kill_insan()

In [175]:
noor.display_insan()

noor brown 40cm engineer : died

In [176]:
bonga = Insan("bonga",'white', '90cm')

In [177]:
bonga.display_insan()

bonga white 90cm nil : alive

In [195]:
class Car:
    def __init__(self, make,model):
        self.make = make
        self.model = model
        
new_car = Car

In [200]:
new_car =new_car('Toyota', 'yaris')

In [201]:
new_car.model

'yaris'

In [202]:
n2 = Car('suzuki','beleno')

In [203]:
n2.model

'beleno'

In [205]:
p = lambda x: x*10

In [206]:
p(10)

100

In [207]:
def calc(my_f, var):
    print(my_f(var))
calc(lambda x:x**2, 10)

100

In [216]:
# The if statement on the right is like a first filter. The if else on the left is applied on the filtered retults. 

my_list = [2,4,5,6,7,9,10,19,17,1,18,16]
x = [x if x%2==0 else x+1 for x in my_list if x%2!=0]

In [217]:
x

[6, 8, 10, 20, 18, 2]

In [268]:
class Atm:
    def __init__(self, user,pwd, bal=0):
        self.user = user
        self.pwd = pwd
        self.bal = bal
    def deposit(self, user, pwd, amount):
        self. amount = amount
        if self.user == user and self.pwd == pwd:
            self.bal += amount
            print(f"{amount} deposited into your account, new balance is {self.bal}")
        else:
            print("wrong user/password")
    def withdraw(self,user,pwd,amount):
        self.amount = amount
        if self.user == user and self.pwd == pwd:
            if self.bal >= amount:
                self.bal -= amount 
                print("please take your cash")
            else:
                print("insufficient bal")
        else:
            print("wrong user/password")
    def check_bal(self, user,pwd):
        if self.user== user and self.pwd == pwd:
            print("your balance is :", self.bal)
        else:
            print("wrong user/pwd")
        
            

naeem = Atm

In [269]:
naeem = Atm("naeem", 9902)

In [270]:
naeem.user

'naeem'

In [271]:
naeem.pwd

9902

In [272]:
naeem.deposit('naeem', 9902 , 10000)

10000 deposited into your account, new balance is 10000

In [273]:
naeem.bal

10000

In [274]:
naeem.withdraw('naeem', 9902, 12000)

insufficient bal

In [275]:
naeem.bal

10000

In [276]:
naeem.deposit('naeem', 9902, 5000)

5000 deposited into your account, new balance is 15000

In [277]:
naeem.check_bal('naeem',9902)

your balance is : 15000