In [88]:
import pandas as pd

In [89]:
df = pd.read_csv('compensation data.csv')

In [90]:
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,NaN,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,NaN,493

In [101]:
df['python_user'][0]

np.True_

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   experience_coding  25973 non-null  float64
 1   python_user        25973 non-null  bool
 2   r_user             25973 non-null  bool
 3   sql_user           25973 non-null  bool
 4   most_used          16835 non-null  object
 5   compensation       25973 non-null  int64
dtypes: bool(3), float64(1), int64(1), object(1)
memory usage: 685.0+ KB

In [5]:
df.shape

(25973, 6)

In [6]:
df.describe()

       experience_coding  compensation
count       25973.000000  2.597300e+04
mean            5.297232  5.325282e+04
std             6.898151  8.008224e+04
min             0.000000  0.000000e+00
25%             0.950000  7.702000e+03
50%             2.500000  5.401000e+04
75%             6.000000  6.748000e+04
max            30.000000  1.492951e+06

In [23]:
df.most_used.unique()

array(['Scikit-learn', nan, 'PyTorch', 'TensorFlow', 'Keras'],
      dtype=object)

In [25]:
y=0
for x in df.most_used:
    if x == 'Scikit-learn':
        y+=1
print(y)

7934

In [76]:
df.isnull().sum()

experience_coding       0
python_user             0
r_user                  0
sql_user                0
most_used            9138
compensation            0
dtype: int64

In [77]:
df1 =df = pd.DataFrame([(1,2), (3,4)], columns=['a', 'b'])
df1

   a  b
0  1  2
1  3  4

In [79]:
df2 = pd.DataFrame([('a', 'b', 'c'), ('d', 'e', 'f')])
df2

   0  1  2
0  a  b  c
1  d  e  f

In [84]:
df2 = df2.append([('x', 'y', 'z')])
df2

AttributeError: 'DataFrame' object has no attribute 'append'