In [3]:
s = ini love programming"
words = s.split()
res = ""
for word in words:
    if len(word) > len(res):
        res = word
print(res)

programming

In [1]:
a = 10
b = 20
c = 30
d = 40

In [3]:
not a<b

False

In [4]:
not (b<=c)

False

In [14]:
not (a<b) or not (b<c)

False

In [16]:
z = 'hello'
if not z == 'hello':
    print( "z is hello")
else:
    print('z is not hello')

z is hello

In [17]:
p = 004
p

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3197305269.py, line 1)

In [31]:
z = 'hello&'
z.isalnum()

False

In [37]:
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140720989678008
140720989678008

In [43]:
x = 'naeem ayub'
u = 'naeem ayub'
print(x is u)
print(id(x))
print(id(u))

False
1634238297264
1634238293424

In [68]:
x = int(input("please enter your name : "))
u  = int(input("please enter your name : "))
print(id(x))
print(id(u))

please enter your name :  256
please enter your name :  256

140720989686168
140720989686168

In [87]:
a = [2,3,4]
b = [2,3,4]
c = a
print(c)
print(a is c)
c.append(5)
print(a is c)
print(c)

[2, 3, 4]
True
True
[2, 3, 4, 5]

In [91]:
!pip install sys

ERROR: Could not find a version that satisfies the requirement sys (from versions: none)
ERROR: No matching distribution found for sys

In [92]:
import sys

In [98]:
x = [1,3,4]
a ="byte"
print(sys.getsizeof(a), a)

45 byte

In [100]:
a = 5
a in x

False

In [123]:
a  = ['dog','apple','cat']
b = ['apple','cat','dog' ]
a[0] in b

True

In [153]:
a = [0,2]
0 in a

True

In [154]:
a = [0,2]
[0] in a

False

In [160]:
a = (10,2)
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [199]:
a = ('a','a', 15, 'a4',99)

In [222]:
a[-3:]

(15, 'a4', 99)

In [16]:
my_tuple = ((1,2,3),[4,5,6],("aapple","banana","cherry"),[7,8,9])

for i in my_tuple:
    for p in range(0,len(i)):
        print(i[p])

my_new_tup = my_tuple[0] +  tuple(my_tuple[-1])
print(my_new_tup)

1
2
3
4
5
6
aapple
banana
cherry
7
8
9
(1, 2, 3, 7, 8, 9)

In [22]:
my_tuple = [(1,2,3),[4,5,6],("aapple","banana","cherry"),[7,8,9]]

for i in my_tuple:
    for a in i:
        print(a)

1
2
3
4
5
6
aapple
banana
cherry
7
8
9

In [29]:
products = [
    {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1},
    {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05},
    {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2},
    {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0},
    {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15}
]



for p in products:
    for q,v in p.items():
        print(q,":", v)

name : Laptop
price : 1200
in_stock : True
discount : 0.1
name : Smartphone
price : 800
in_stock : False
discount : 0.05
name : Headphones
price : 150
in_stock : True
discount : 0.2
name : Smartwatch
price : 300
in_stock : True
discount : 0
name : Keyboard
price : 100
in_stock : True
discount : 0.15

In [35]:
a = [2,4,5]
sum(a,2)

13

In [36]:
sum(_

builtin_function_or_method

In [43]:
sum([3], start=4)

7

In [54]:
def greet(*args, **kwargs):
    print(kwargs)
    print(args)

greet("gul", name='Naeem')

{'name': 'Naeem'}
('gul',)

In [56]:
a = {
    'name':'naeem',
    'age': 30,
    'school': 'katas'
}
print(a)

{'name': 'naeem', 'age': 30, 'school': 'katas'}

In [57]:
type(a)

dict

In [58]:
a.items()

dict_items([('name', 'naeem'), ('age', 30), ('school', 'katas')])

In [60]:
cities = ('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')
visited_cities = ('islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar')

i = 0
while i < len(cities):
    p = 0
    while p <len(visited_cities):
        print(f"{cities[i]} : {visited_cities[p]}")
        p+=1
    i+=1

karachi : islamabad
karachi : multan
karachi : faisalabad
karachi : quetta
karachi : peshawar
hyderabad : islamabad
hyderabad : multan
hyderabad : faisalabad
hyderabad : quetta
hyderabad : peshawar
islamabad : islamabad
islamabad : multan
islamabad : faisalabad
islamabad : quetta
islamabad : peshawar
quetta : islamabad
quetta : multan
quetta : faisalabad
quetta : quetta
quetta : peshawar
lahore : islamabad
lahore : multan
lahore : faisalabad
lahore : quetta
lahore : peshawar

In [61]:
id(cities)

2672094257104

In [62]:
id(visited_cities)

2672107258240

In [63]:
type(cities)

tuple

In [68]:
a = 10
def func():
    a = 20
    return print(a)
print(a)
func()
print(a)

10
20
10

In [80]:
#### lambda functions

(lambda x,y:x+y)(4,5)

9

In [91]:
new_list = [4,5,6,7,8,9,10,11,13,15,20]
def my_func(l_func, new_list):
    updated_list = []
    for i in new_list:
        updated_list.append(l_func(i))
    return print(updated_list)

my_func(lambda x:x**2, new_list)

[16, 25, 36, 49, 64, 81, 100, 121, 169, 225, 400]

In [110]:
new_list = [4,5,6,7,8,9,10,11,13,15,20]
evens = [l for l in new_list if l%2==0]
print(evens)

# if else with list comprehension:

k = [o*2 if o%2==0 else o+1 for o in new_list]
print(k)

# only if with list comprehension:
evens = [num//2 for num in new_list if num%2==0]
print(evens)

[4, 6, 8, 10, 20]
[8, 6, 12, 8, 16, 10, 20, 12, 14, 16, 40]
[2, 3, 4, 5, 10]

In [115]:
new_list = [4,5,6,7,8,9,10,11,13,15,20]

def make_even(num):
    if num%2 ==1:
        return num+1
    else:
        return num


y = list(map(make_even, new_list))
print(y)

[4, 6, 6, 8, 8, 10, 10, 12, 14, 16, 20]