#### Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )
• Print all elements from my_tuple on a new line (using for loop)
• Create a new tuple by concatenating the first and last elements of my_tuple

In [15]:
my_tuple = ((1,2,3),[4,5,6],("aapple","banana","cherry"),[7,8,9])
# part a:

for i in my_tuple:
    for p in range(0,len(i)):
        print(i[p])

#part b:
new_tuple = my_tuple[0]+ tuple(my_tuple[-1])
print(new_tuple)

1
2
3
4
5
6
aapple
banana
cherry
7
8
9
(1, 2, 3, 7, 8, 9)

#### Q2. inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:
8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }
• Add a new book in inventory using method and get all book titles using method
• Remove a book if it&#39;s out of stock

In [167]:
#part a: add a book:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }

inventory.update({"Atomic Habbits" : {"price" : 5, "quantity": 0}})
print(inventory.keys())

dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'Atomic Habbits'])

In [168]:
# part b: remove a book:
print(inventory) #print original inventory list

books = inventory.keys() # get all keys.
books = list(books)      # change it to list.
for book in books:
    if inventory[book]["quantity"] == 0:
        inventory.pop(book)

print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'Atomic Habbits': {'price': 5, 'quantity': 0}}
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

#### Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
category, price, and stock quantity.
products = { 101: {&quot;name&quot;: &quot;Laptop&quot;, &quot;category&quot;: &quot;Electronics&quot;, &quot;price&quot;: 1200, &quot;stock&quot;: 50}, 102:
{&quot;name&quot;: &quot;Shirt&quot;, &quot;category&quot;: &quot;Apparel&quot;, &quot;price&quot;: 25, &quot;stock&quot;: 200}, 103: {&quot;name&quot;: &quot;Coffee Maker&quot;,
&quot;category&quot;: &quot;Home Appliances&quot;, &quot;price&quot;: 80, &quot;stock&quot;: 30} }
• Increase the stock of the &quot;Shirt&quot; product (add 50 more units)
• Add a new product (e.g., &quot;Smartphone&quot;)

In [175]:
#Part a: update shirts stock:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
            } 

products[102]["stock"] = 250
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [176]:
#part b: add new product - smartphone:
products.update({104 : {'name':'smart phone', 'category': 'electronic', 'price': 200, 'stock':20}})
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'smart phone',
  'category': 'electronic',
  'price': 200,
  'stock': 20}}

#### Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = [&quot;apple&quot;, &quot;banana&quot;, &quot;apple&quot;, &quot;orange&quot;, &quot;banana&quot;, &quot;grape&quot;]

In [179]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
new_shopping_list = set(shopping_list)
print(new_shopping_list)

{'grape', 'banana', 'orange', 'apple'}

#### Q5. You are managing a list of students enrolled in two different courses. You need to perform
various set operations to understand the student enrollment. Task: Create two sets: one for students
in &quot;Course A&quot; and one for students in &quot;Course B&quot;. Find the students who are in &quot;Course A&quot; but not in
&quot;Course B&quot; (difference). Find students who are only in one of the two courses (symmetric
difference). course_a = {&quot;John&quot;, &quot;Alice&quot;, &quot;Bob&quot;, &quot;David&quot;} course_b = {&quot;Alice&quot;, &quot;Eve&quot;, &quot;Charlie&quot;,
&quot;David&quot;}
• Find students who are in Course A but not in Course B (difference)
• Find students who are only in one of the two courses (symmetric difference)

In [183]:
course_a = {"John", "Alice", "Bob", "David"} 
course_b = {"Alice", "Eve", "Charlie", "David"}
#part a: find students who are in course a and not in b
course_a.difference(course_b)

{'Bob', 'John'}

In [184]:
#part b: find students who are onlyin one of the two courses:
course_a.symmetric_difference(course_b)

{'Bob', 'Charlie', 'Eve', 'John'}

#### Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
(inclusive) using a for loop.
Hint
1. Initialize a variable to hold the sum (e.g., sum_of_evens).
2. Use a for loop to iterate through all numbers from 1 to 50.
3. Inside the loop, check if the number is even.
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [190]:
sum_of_evens = 0
for i in range(1,52):
    if i%2 == 0:
        sum_of_evens +=i
print("the total sum of all even numbers between 1 and 50 : " ,sum_of_evens)

the total sum of all even numbers between 1 and 50 :  650

####Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
10) using a for loop.

Hint:
1. Ask the user for a number between 1 and 10 .
2. Use a for loop to iterate through the numbers from 1 to 10.
3. For each iteration, calculate the product of the given number and the current number in the
loop.
4. Print the result in a readable format (e.g., 5 x 1 = 5).
5. Ensure the program works correctly for any number between 1 and 10.

In [199]:
num = int(input("please enter a number to print its multiplication table"))
for i in range(1,11):
    print(num, " X " , i , " =" , i*num)

please enter a number to print its multiplication table 9

9  X  1  = 9
9  X  2  = 18
9  X  3  = 27
9  X  4  = 36
9  X  5  = 45
9  X  6  = 54
9  X  7  = 63
9  X  8  = 72
9  X  9  = 81
9  X  10  = 90

#### Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1
to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [207]:
num = int(input("please enter a number to print power of the number 1-10"))
for i in range(1,11):
    print(num, " ^ " , i , " =" , num**i)

please enter a number to print power of the number 1-10 2

2  ^  1  = 2
2  ^  2  = 4
2  ^  3  = 8
2  ^  4  = 16
2  ^  5  = 32
2  ^  6  = 64
2  ^  7  = 128
2  ^  8  = 256
2  ^  9  = 512
2  ^  10  = 1024

#### Q9. Problem Statement: Write a Python program that takes an integer input from the user and
counts down from that number to 0. The program should display the current number at each step
until it reaches 0, at which point it should print a message indicating the countdown is finished
Output Hint:
Enter a number to start the countdown: 3
3
2
1
0
Countdown finished!

In [282]:
num = int(input("please enter a number, program will count down to zero from that number"))
temp_num = num
for i in range(0,num+1):
    if temp_num == 0:
        print("count down finished")
    else:
        print(temp_num)
        temp_num -=1

please enter a number, program will count down to zero from that number 6

6
5
4
3
2
1
count down finished

#### Q10. Write a Python program that takes an integer input n from the user and generates a right-
angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.
Pattern:
*
**
***
****
*****

In [298]:
num = int(input("please enter a number to print right angle triangle of stars"))
for i in range(1,num+1):
    for v in range(0,i):
        print("*", end=" ")
    print()

please enter a number to print right angle triangle of stars 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

####